body {
  margin: 0;
  background-color: #eeeeee;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
}

a {
  color: #00B7FF;
}

.flight-no {
  text-align: center;
}

nav {
  height: 100px;
  width: 100vw;
  background-color: #dddddd;
  align-items: center;
  display: grid;
  justify-items: center;
  grid-template-columns: 150px 1fr 150px;
  grid-template-areas: 
  " flights title new-flight";
  margin-bottom: 25px;
}

#flight-link{
  grid-area: flights;
}

#page-title {
  grid-area: "title";
  height: 100px;
  padding: 30px;
}

#new-flight-link{
  grid-area: "new-flight";
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

section {
  font-size: 15px;
  width: 70%;
}

.btn-danger {
  height: 30px;
  width: 30px;
  padding: 0;
  margin-bottom: 5px;
}

#delete-form {
  display: inline-block;
}

.departures {
  width: 175px;
  text-align: center;
}

#new-ticket {
  text-align: center;
  padding: 2px;
  height: 20px;
  width: 30%;
  color: white;
  background-color: rgb(78, 160, 187);
  border-radius: 7px;
}